<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/blog/resources/UserController.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/blog/resources/BlogStyle.css">
</head>
<body>
	<div id="loginForm" align="center">
		<form id="loginForm" action='/blog/loginProcess' method='POST'>
			<h1><b>L O G I N</b></h1>
			<span id="fail-warning">ID와 Password를 다시 확인 해주세요.</span>
			<br><br>
			
			<table>
				<tr>
					<td>ID</td>
					<td><input type='text' name='j_username' value='' required></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type='password' name='j_password' required /></td>
				</tr>
				<tr>
					<td colspan='2'><input id="loginSubmit" name="submit"
						type="submit" value="Login" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>