<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="./resources/extjs/css/ext-all.css">
<link rel="stylesheet" href="./resources/extjs/ux/css/ux-all.css">
<link rel="stylesheet" href="./resources/BlogStyle.css">

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="./resources/extjs/ext-jquery-adapter.js"></script>
<script src="./resources/extjs/ext-all-debug.js"></script>
<script src="./resources/extjs/ux/ux-all.js"></script>

<script src="./resources/UserController.js"></script>
<script src="./resources/PostController.js"></script>
<script src="./resources/blogExt.js"></script>
<title>Heesun Blog</title>
</head>
<body>

</body>  
</html>