<!doctype html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Heesun Jeong Blog</title>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/blog/resources/BlogStyle.css">
<script src="./resources/UserController.js"></script>
<script src="./resources/PostController.js"></script>

</head>
<body>
	<div id="header-el">
		<input type="hidden" id="userInfo" />
		<div id="header-menu">
			<a id="login" href="./user/login">L O G I N</a> / <a id="join"
				href="/blog/user/join">J O I N</a>
		</div>

		<header>
			<h1>
				<i>Welcome! Heesun's Blog</i>
			</h1>

		</header>
	</div>

	<nav id="nav-el">
		- <a href="javascript:postLinkViewList(1, 0)" id="category-diary">일기</a>
		<br> - <a href="javascript:postLinkViewList(2, 0)" id="category-yam">맛집</a><br>
		- <a href="javascript:postLinkViewList(3, 0)" id="category-programming">프로그래밍</a>
	</nav>

	<div id="content-el">
		<div id="blog-body">
			<div id="postBlog" class="blogBody">
				<div id="current-post"></div>
				<div id="comment-list"></div>
				<div id="post-list"></div>
			</div>

			<div id="write-post-view" class="blogBody" align="center">
				<table style="text-align: right">
					<tr>
						<td>category</td>
						<td><select id="category" style="width: 506px; height: 26px;">
								<option value="1">일상</option>
								<option value="2">맛집</option>
								<option value="5">프로그래밍</option>
						</select>
					</tr>
					<tr>
						<td>title</td>
						<td><input type="text" id="post_title" name="post_title"
							style="width: 500px; height: 20px;" required><br></td>
					</tr>
					<tr>
						<td>content</td>
						<td><textarea id="post_content" name="post_content"
								style="width: 500px; height: 600px;" required></textarea><br></td>
					</tr>
				</table>
				<br> <br> <input type="button" id="writePostBtn"
					value="글쓰기"> <input type="button" id="editPostBtn"
					value="수정"> <input type="button" value="취소">
					<input id='postInfo' type='hidden' />
			</div>
		</div>



		<aside id="side-menu">
			안녕하세요 <br> <br> <input type="button" id="writeButton"
				value="글쓰기" data-mode="new">
		</aside>
	</div>

	<footer id="footer-el">
		<!-- Footer -->
	</footer>

</body>
</html>